<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
        name="description"
        content="Hola👋! Soy Piero Jacinto. Soy un desarrollador Full Stack de Argentina, con sólidos conocimientos en: Javascript, Reac, Python, Node, Express, Sql, Sequilize, jest,." />>
    <title>Document</title>

    <!-- Font -->
    <link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet"> 

    <!-- Fonts Awesome -->
    <script src="https://kit.fontawesome.com/2cffc479ad.js" crossorigin="anonymous"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/colors.css">

    <!-- Fonts Awesome -->
    <script src="https://kit.fontawesome.com/2cffc479ad.js" crossorigin="anonymous"></script>

    <!-- Bootstrap 5.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body >
    <main id="root"> 
        <!-- EFECTO ESTRELLAS FONDO PARALLAX -->
        <section class="animated-background">
            <div id="stars1"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
        </section>

        
        <%- include('./partials/header') %> 
        <!-- Imagen de Perfil y modal  -->
        <a id="profilePicture" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="https://avatars0.githubusercontent.com/u/43749971" alt="Profile Picture"/>
        </a>
        <!-- Button trigger modal -->  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">     
                    <a class="popup-close"  data-bs-dismiss="modal" aria-label="Close">&times;</a>
                    <img src="https://avatars0.githubusercontent.com/u/43749971" alt="Profile Picture"/>                    
                </div>    
            </div>
        </div>

        <!-- Bienvenida -->
        <article class="hero-section">
            <div data-section="hero" data-value="title">
                Hola👋! Soy <span>Piero Jacinto</span> 
            </div>
            <div data-section="hero" data-value="rol">
                Desarrollador Web Full-Stack
            </div>
        </article>

        <article class="tec-logos-container container-fluid">  
            <div class="row">
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-square-js"></i> 
                    <h4>Javascript</h4>
                </div>        
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-python"></i>
                    <h4>Python</h4>
                </div>  
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-html5"></i>
                    <h4>Html</h4>
                </div>  
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-css3-alt"></i>
                    <h4>Css</h4>
                </div>  
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-node-js"></i>
                    <h4>NodeJs</h4>
                </div>        
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-react"></i>
                    <h4>React</h4>
                </div>  
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-solid fa-database"></i>
                    <h4>Sql</h4>
                </div>  
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-bootstrap"></i>
                    <h4>Bootstrap</h4>
                </div>  
                <div class="col d-flex justify-content-center mrg-t-1">
                    <i class="fa-brands fa-vuejs"></i>
                    <h4>Vue</h4>
                </div>  
                <div class="col d-flex justify-content-center mrg-t-1 ">                    
                    <img src="images/mongoDb.svg" style="width:1.5rem;">
                    <h4>MongoDb</h4>
                </div>  
            </div>          
        </article>
        
        
        <article class="description-container">            
            <div data-section="hero" data-value="description" class="description">
                Me encanta contribuir a proyectos emocionantes y desafiantes. Disfruto trabajar en equipo y colaborar con mis compañeros para alcanzar metas comunes. Siempre estoy en busca de nuevos desafíos y oportunidades de aprendizaje.
            </div>     
         </article>  
        <div id="hashtag" data-section="hero" data-value="hire">
            Contrátame ❤
        </div>   
        
        

        <div class="signature">
            Relizado por Piero Jacinto
        </div>
                 
        
    </main>
    
   <!-- languages js -->
   <script src="js/languages.js"></script>
    <!-- Bootstrap 5.3 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>