<div class="console floating" id="console">
    <div class="console-header">  
        <div class="btn-console">
            <div class="round-btn"></div>
            <div class="round-btn1"></div>
            <div class="round-btn2"></div>
        </div>
        <div class="index">
            /index.js
        </div>
        <div class="copy-icon">
            <i class="fa-regular fa-copy"></i>
        </div>
    </div>
    <div>                
        <hr class="console-line">
    </div>
    <div class="console-body">
        <div>
            <span class="bl">const</span>
            <span data-section="console" data-value="bienvenida">bienvenida</span>
              
             <span class="bl">=</span> 
             <span class="yl">( ) </span>
             <span class="bl"> => </span> 
             <span class="yl">{</span>
        </div>

        <div class="tab1">
            <span class="bl">const</span>
            <span data-section="console" data-value="sobreMi">sobreMi</span>
            <span class="bl">=</span> <span class="yl">{</span>
        </div>
        <div class="tab2">
            <span data-section="console" data-value="nombre">nombre</span>
            <span class="bl">:&nbsp;&nbsp;</span> <span class="yl">'Piero',</span>
        </div>
        <div class="tab2">
            <span data-section="console" data-value="apellido">apellido</span>
            <span class="bl">:&nbsp;&nbsp;</span> 
            <span class="yl">'Jacinto',</span>
        </div>
        <div class="tab2">
            <span data-section="console" data-value="imagen">imagen</span>                     
            <span class="bl">:&nbsp;&nbsp;</span> <span class="yl sub">'piero.jpg',</span>
        </div>
        <div class="tab2">
            <span data-section="console" data-value="edad">edad</span>
            <span class="bl">:&nbsp;&nbsp;</span> <span class="yl">34,</span>
        </div>
        <div class="tab2">
            <span data-section="console" data-value="pais">pais</span>
            <span class="bl">:&nbsp;&nbsp;</span> <span class="yl">'Argentina',</span>
        </div>
        <div class="tab2">
            <span data-section="console" data-value="espaniol">español</span>
            <span class="bl">:&nbsp;&nbsp;</span> <span class="yl" data-section="console" data-value="nativo">'Nativo',</span>
        </div>
        <div class="tab2">
            <span data-section="console" data-value="ingles">ingles</span>
            <span class="bl">:&nbsp;&nbsp;</span> <span class="yl" data-section="console" data-value="avanzado">'Avanzado (C1)'</span>
        </div>
        <div class="tab1">
            <span class="yl">}</span>
        </div>                
        <div class="tab1">
            <span class="bl">return</span> &nbsp; 
            <span data-section="console" data-value="sobreMi">sobreMi</span>                    
        </div>                               
        <div>
            <span class="yl">}</span>
        </div>               
        <div>
            <span data-section="console" data-value="bienvenida">bienvenida</span>
            <span class="yl">( )</span>
        </div> 
    </div>
</div>