<h1 class="timeline-title mt-5 mb-5" id="contacto" data-section="titulos" data-value="contacto">Contacto</h1>
<div class="contact-container">
    <a href="https://www.linkedin.com/in/pierojacinto/" target="_blank" rel="noopener noreferrer" >
        <div class="lin">
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </a>
    <a href="https://github.com/PieroJacinto" target="_blank" rel="noopener noreferrer">
        <div class="git">
            <i class="fa-brands fa-github"></i>
        </div>
    </a>
    <a href="mailto:pierojacinto@gmail.com">
        <div class="mail">
            <i class="fa-regular fa-envelope"></i>
        </div>
    </a>
    <a href="https://wa.me/5491133688942?text=Hola%20Piero!%20eh%20visto%20tu%20portfolio%20y%20quisiera%20contactarme%20contigo" target="_blank" rel="noopener noreferrer>">
        <div class="whats">
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </a>
</div>