 <!-- cursor  -->
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>
 <div class="circulo"></div>