<article class="description-container">            
    <div data-section="hero" data-value="description" class="description">
        Me encanta contribuir a proyectos emocionantes y desafiantes. Disfruto trabajar en equipo y colaborar con mis compañeros para alcanzar metas comunes. Siempre estoy en busca de nuevos desafíos y oportunidades de aprendizaje.
    </div>     
</article> 
<article class="button-container">
   <a class="btn-grad" data-section="botones" data-value="contacto" href="#contacto">
       Contacto! &nbsp <i class="fa-solid fa-angles-down"></i>
   </a>
   <a class= "cv" href="/files/CV Jacinto Piero 2023.pdf" target="_blank" rel="noopener noreferrer">
       <div class="btn-cv" data-section="botones" data-value="cv">
           Ver CV &nbsp <i class="fa-regular fa-eye"></i>
       </div>
   </a>
</article> 

