<h1 class="timeline-title mt-5 mb-5" id="proyectos" data-section="titulos" data-value="proyectos">Mis Proyectos</h1>
<div class="proyectos-container">
    <div class="proyectos">
        <div class="proyect-content">
            <!-- Contenido principal de la tarjeta -->
            <div class="image-container">
                <img src="images/canutoImg3.png" alt="esto es una imagen">
            </div>
            <div class="proy-titulo">
                E-commerce "Vino de Canuto"
            </div>
            <div class="proy-tec"  data-section="proyectos-tec" data-value="canuto">
                <span>Tecnologias: </span> Nodejs, Javascript, Mysql, Sequelize, Express.
            </div>
            <ul class="proy-list" data-section="proyectos-list" data-value="canuto">
                <li>Autenticación y manejo de sesiones de usuarios.</li>
                <li>Análisis, diseño e implementación de un sistema de base de datos utilizando Sequelize (ORM).</li>
                <li>Integración con otras plataformas mediante apis (Instagram Api).</li>
                <li>Uso de Session y Cookies para almacenado de información.</li>
                <li>Implementación de sistemas de búsqueda, filtrado y guardado de productos</li>
            </ul>
        </div>
        <div class="proyect-buttons">
            <!-- Contenido de los botones -->
            <a class="btn-git" href="https://github.com/PieroJacinto/vinoDeCanutoDeploy" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
                <span>Github</span>
            </a>
            <a class="btn-deploy" href="https://vino-de-canuto-deploy.vercel.app/" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-link"></i>
                <span>Deploy</span>
            </a>
        </div>
    </div>

    <div class="proyectos">
        <div class="proyect-content">
            <!-- Contenido principal de la tarjeta -->
            <div class="image-container">
                <img src="images/gingerImg.png" alt="esto es una imagen">
            </div>
            <div class="proy-titulo">
                E-commerce "Ginger Vintage"
            </div>
            <div class="proy-tec" data-section="proyectos-tec" data-value="ginger">
                <span>Tecnologias: </span> Nodejs, Javascript, Mysql, Sequelize, Express , Bootstrap.
            </div>
            <ul class="proy-list" data-section="proyectos-list" data-value="ginger">
                <!-- Contenido de la lista de proyectos -->
                <li>Autenticación y manejo de sesiones de usuarios.</li>
                <li>Análisis, diseño e implementación de un sistema de base de datos utilizando Sequelize (ORM).</li>
                <li>Integración con otras plataformas mediante apis (Instagram Api).</li>
                <li>Uso de Session y Cookies para almacenado de información.</li>
                <li>Implementación de sistemas de búsqueda, filtrado y guardado de productos</li>
            </ul>
        </div>
        <div class="proyect-buttons">
            <!-- Contenido de los botones -->
            <a class="btn-git" href="https://github.com/PieroJacinto/Ginger-Ropa-Vintage/tree/main" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
                <span>Github</span>
            </a>
            <a class="btn-deploy" href="https://ginger-vintage.vercel.app/" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-link"></i>
                <span>Deploy</span>
            </a>
        </div>
    </div>  
    
    <div class="proyectos">
        <div class="proyect-content">
            <!-- Contenido principal de la tarjeta -->
            <div class="image-container">
                <img src="images/codoImg.png" alt="esto es una imagen">
            </div>
            <div class="proy-titulo">
                Python CRUD "TPO codo a codo"
            </div>
            <div class="proy-tec" data-section="proyectos-tec" data-value="tpo">
                <span>Tecnologias: </span> Python, Flask, Vue, Javascript, Sqlite3, Bootstrap, Parallax.
            </div>
            <ul class="proy-list" data-section="proyectos-list" data-value="tpo">
                <li>Creacion de Api utilizando Python, Flask y decoradores</li>
                <li>Creacion de base de datos utilizando Sqlite3</li>
                <li>CRUD(create, read, update and delete) implementado utilizando vue y Javascript en el front llamando a los endpoints de la api creada</li>
                <li>Utilizacion de Parallax para el fondo</li>
            </ul>
        </div>
        <div class="proyect-buttons">
            <!-- Contenido de los botones -->
            <a class="btn-git" href="https://github.com/PieroJacinto/Python-Crud-Project" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
                <span>Github</span>
            </a>
            <a class="btn-deploy" href="https://pierojacinto-python-crud.netlify.app/" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-link"></i>
                <span>Deploy</span>
            </a>
        </div>
    </div>     
    <div class="proyectos">
        <div class="proyect-content">
            <!-- Contenido principal de la tarjeta -->
            <div class="image-container">
                <img src="images/gif-app.png" alt="esto es una imagen">
            </div>
            <div class="proy-titulo">
                React Giff Api
            </div>
            <div class="proy-tec" data-section="proyectos-tec" data-value="ginger">
                <span>Tecnologias: </span> React, Javascript, Jest, Bootstrap.
            </div>
            <ul class="proy-list" data-section="proyectos-list" data-value="ginger">
                <!-- Contenido de la lista de proyectos -->
                <li>Custom Hooks.</li>
                <li>Fetch hacia un API.</li>
                <li>Utilizacion de Jest y react-testing-library para pruebas en: customHooks, Simular eventos en inputs y formularios, Simular llamadas a funciones, y Evaluar si existen determinados elementos en los componentes</li>               
            </ul>
        </div>
        <div class="proyect-buttons">
            <!-- Contenido de los botones -->
            <a class="btn-git" href="https://github.com/PieroJacinto/Ginger-Ropa-Vintage/tree/main" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
                <span>Github</span>
            </a>
            <a class="btn-deploy" href="https://ginger-vintage.vercel.app/" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-link"></i>
                <span>Deploy</span>
            </a>
        </div>
    </div>  

</div>