<h1 class="timeline-title mt-5 mb-5" id="estudios" data-section="titulos" data-value="estudios">Estudios</h1>
<ul>
    <li style="--accent-color:#0A96A6">
        <div class="date " data-section="estudios-titulo" data-value="uba">Ingenieria en informatica</div>
        <div class="title" data-section="estudios-time" data-value="uba">2023-Actualidad</div>
        <div class="curso">UBA</div>
        <div class="descr uba" >
            <div class="curso-desc" data-section="estudios" data-value="uba">
                Carrera de ingenieria Informatica
            </div>
            <div class="curso-cont" data-section="estudios-cont" data-value="uba">En Curso</div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="date" data-section="estudios-titulo" data-value="udemy">React de cero a experto <br> (Mern y HOOKS)</div>
        <div class="title">2023</div>
        <div class="curso">Udemy</div>
        <div class="descr" >
            <div class="curso-desc" data-section="estudios" data-value="udemy" >
                Curso de React de Udemy 
            </div>
            <div class="curso-cont" data-section="estudios-cont" data-value="udemy">
                <span> Contenidos:</span> React, Jest, MongoDb, Firestore, JWT, Testing, Autenticaciones, CRUD, Logs, MUI, Multiple Routers </div>
            </div>
    </li>
    <li style="--accent-color:#175973">
        <div class="date" data-section="estudios-titulo" data-value="codo">Desarrollo Web Python Full-Stack</div>
        <div class="title" data-section="estudios-time" data-value="codo">Marzo 2023- Julio 2023</div>
        <div class="curso">Codo a Codo (Argentina Programa)</div>
        <div class="descr" >
            <div class="curso-desc" data-section="estudios" data-value="codo">Curso de Programación web Python Full-Stack</div> 
            <div class="curso-cont" data-section="estudios-cont" data-value="codo">
                <span> Contenidos:</span> 
                Python, Javascript, HTML, CSS, CRUD, MVC, Bootstrap, VUE, Flask, Django
            </div>
        </div>
    </li>
    <li style="--accent-color:#1EC6D9">
        <div class="date" data-section="estudios-titulo" data-value="digital">Desarrollo Web Full-Stack</div>
        <div class="title" data-section="estudios-time" data-value="digital">Marzo 2022- Septiembre 2022</div>
        <div class="curso">Digital House</div>
        <div class="descr" >
            <div class="curso-desc" data-section="estudios" data-value="digital">
                Curso de Programación web Full-Stack
            </div>
            <div class="curso-cont" data-section="estudios-cont" data-value="digital">
                <span> Contenidos: </span> 
                Javascript, HTML, CSS, Bootstrap, Sequelize, MVC, CRUD, Postman, Express, Nodejs, Api Rest
            </div>

            </div> 
            
    </li>   
</ul>